In [1]:
import numpy as np
import pandas as pd

In [ ]:
#arrays to series
myIndex = ["USA","Canada","Mexico"]
myData = [1776,1867,1821]
mySeries = pd.Series(data=myData,index=myIndex) #Syntax :- pd.Series(data,index) (not necessary to pass explicitly untill passed in correct order)
mySeries   #Now we can access our data with both numeric index and labeled index with the help of pandas series

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [3]:
#dictionary to series
age = {"Sam":5,"Frank":10,"Spike":7}
pd.Series(age)  #Keys will be converted to index and values will be converted to data

Sam       5
Frank    10
Spike     7
dtype: int64

In [4]:
#Operations in Series

In [ ]:
#Imaginary sales data for 1st and 2nd quarter for global company
q1 = {"Japan":80,"China":450,"India":200,"USA":250}
q2 = {"Brazil":100,"China":500,"India":210,"USA":260}
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)
sales_q1.keys() #this functions gives the list of available keys
sales_q1 * 2 #This will multiply all the values by 2 as pandas series are built of numpy arrays

In [6]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [7]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [ ]:
sales_q1 + sales_q2  #we got this output because we don't have brazil and japan in both the series

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [9]:
sales_q1.add(sales_q2,fill_value=0)  #fill value means what value we want to add in the place of missing data in this case brazil and japan so that in q1 series brazil value will be 0 and in q2 series japan value will be 0 and in this way we will get the correct output

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64